@font-face {
    font-family: figtree;
    src: url(./font/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
    font-family: RobotoMono;
    src: url(./font/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: Reckless;
    src: url(./font/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
    font-family: Robotomedium;
    src: url(./font/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: midnight;
    src: url(./font/midnight-sans-rd-12-semibold-trial.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

::-webkit-scrollbar {
    width: 1.4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    background-color: pink;
    width: 100%;
}

.header-1 {
    padding: 0.3rem;
}

.header-2 {
    padding: 0.5rem 0.8rem;
}

.navbar-1 h2 {
    font-size: 1.2rem;
}

.navbar-1 h2:nth-child(3) {
    position: relative;
}

.navbar-1 h2 button {
    background-color: rgb(193, 228, 248);
}

.navbar-3 p {
    position: relative;
}

.navbar-1 h2:nth-child(3)::after,
.navbar-3 p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1px;
    background-color: black;
}

.navbar-1 h2:nth-child(3):hover::after,
.navbar-3 p:hover::after {
    transition: 0.3s;
    width: 100%;
}

section.hero {
    width: 100%;
    height: 95vh;
    background: url(./hero-img/Alpine-web.png);
    background-repeat: no-repeat;
    background-position: 55% center;
    background-size: 120%;
    padding: 2.5rem;
}

.hero-button {
    padding: 0.5rem 2.7rem;
    font-size: 0.9rem;

}

.hero-button:hover {
    border: 0.2px solid black;
    background-color: #fff;
    color: black;
}

.cart div {
    font-size: 11px;
}

.section-2 p {
    font-size: 3.2rem;
    padding: 5rem;
    font-family: Reckless;
}

.bestseller {
    padding: 0.1rem;
}

.section-3-div {
    width: auto;
    grid-template-columns: repeat(9, 16.5rem);
}

.tag-1 {
    padding: 0 0.2rem;
}

.section-3-text {
    margin-top: 1rem;
}

.s-p {
    color: rgb(95, 91, 85);
}

.section-3 .hero-button {
    margin-bottom: 8rem;
}